body{
    color:white;
}
.h1{
    text-align: center;
    letter-spacing: 4px;
    margin-top: 40px;
}

.container{
    display: flex;
    flex:1;
    gap:545px;
    margin-left: 80px;
    margin-right: 60px;
    font-size: 19px;
    letter-spacing: 2px;
}
.container1{
    display: flex;
    gap:40px;
    flex:1;
    margin-left: 40px;
    margin-right: 40px;
    text-indent: 20px;
    line-height: 1.4;
    font-size: 18px;
}
.container2{
    display:flex;
    flex:1;
    gap:595px;
    margin-left:80px ;
    margin-right: 60px;
    font-size:19px;
    letter-spacing: 2px;

}
.container3{
    display: flex;
    flex:1;
    line-height: 1.4;
    margin-left: 40px;
    margin-right: 40px;
    gap:175px;
    font-size: 18px;
}
.h2{
   
    margin-left:80px ;
    margin-right: 60px;
    letter-spacing: 2px;

}
.p{
    line-height: 1.4;
    margin-left: 40px;
    margin-right: 40px;
    gap:130px;
    font-size: 18px;
}


footer {
    margin-top: auto;
        background-color:#060709;
        color: white;
        padding: 20px 0;
        text-align: center;
        font-family: Arial, sans-serif;
        width: 100%;
    }
    footer {
        background-color:#060709;
        color: white;
        padding: 20px 0;
        font-family: Arial, sans-serif;
    }
    
    .footerdiv {
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 10px 20px;
    }
    
    .footerstanga img {
        width: 200px; 
    }
    
    .footercentru {
        text-align: center;
        flex: 1;
    }
    
    .footerlink {
        margin: 10px 0;
    }
    
    .footerdreapta {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .footer-text{
        letter-spacing: 5px;
        font-size: 20px;
    }
