

  body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
    
.contact3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 650px;
    min-height: 500px;
    margin: 40px auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.contact-form h2 {
    text-align: center;
}
.button {
    background: #a30909;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.button:hover {
    background: #cc1f1f;
}
.sty {
    background-color:#271818;
    color: white;
    border: 2px solid #443030;
    height: 30px;
    width: 800px;
    border-radius: 2px;
}
.cont1{
    display: flex;
    flex: 1;
    gap: 280px;
}
.cont2, .cont4 {
    display: flex;
    flex: 1;
    gap: 10px;
}
.cont6 {
    display: flex;
    flex: 1;
    gap: 10px;
}
.cont7 {
    display: flex;
    flex: 1;
    gap: 45px;
}
.cont3{
    display: flex;
    flex:1;
    gap:285px;
}
.cont5 {
    display: flex;
    flex:1;
    gap:290px;
}