
.h1, .harta, .prod, .h1h {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}
.container, .h2, .nav, .product-details h1, .client{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  .container2, .footer1, .fontabout{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  .container1, .container3, .rand1, .fontp, .quote{
        font-family: "Lato", serif;
        font-weight: 400;
        font-style: normal;
      
  }
  .p, .rand3, .volan, .rand5, .produse,.description{
    font-family: "Lato", serif;
     font-weight: 400;
     font-style: normal;
  }
  

