body::-webkit-scrollbar{
    display: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: #282628;
    color: white;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070707;
    padding: 15px 50px; 
    height: auto;
}
.link1, .link2 {
    display: flex;
    gap: 30px;
}
.link {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 240px;
}
.logo {
    height: 75px;
    width: 130px;
}
.nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}
.nav a:hover {
    color:  #a30909;
}

